* {
	margin:0;
	padding:0;
}
html, body {
	position:sticky;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

.maincontainer {
	background-image:linear-gradient(rgba(101, 76, 50, 0.8),rgba(103, 117, 107, 0.8)),url(../Images/Background2.png);
	background-repeat:no-repeat;
	
}

.container {
	width:100%;
	background-position:center;
	background-size:cover;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
}

.navbar {
	height:19%;
	display:flex;
	align-items:center;
	position:relative;
}

.logo{ 
	cursor:pointer;
	padding-left:31%;
	padding-top: 6%;
}

nav {
	flex: 1;
	text-align:center;
	position:sticky;
	right: 38%;
	margin-top: 6%;
}

nav ul li {
	list-style:none;
	display:inline-block;
	padding-left:18px;
	transform: translate(0%, -250%)
}

nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size: 1.5vw;
}
.row {
	display:flex;
	padding-top:12%;
	padding-left:5%;
	padding-right: 5%;
	height:45%;
	align-items:center;
}
video {
	margin-left:28%;
	margin-top:10%;
	position: sticky;
}

.row .col p{
	color:#fff;
	font-size: 20px;
	line-height:20px;
}

nav ul li a:hover {
	color:#b9a475;
}
.subhead {
	padding-top: 80px; 
	color: #e3fafa; 
	font-size: 30px; 
	padding-right:25px;
	text-shadow: 0 0 5px #999;
}
.container1 {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 50px;
}
.container1 .card {
	position: relative;
	max-width: 300px;
	height: 150px;
	background: #fff5ed;
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}
.container1 .card:hover {
	height: 550px;
}
.container1 .card .imgBx {
	position: relative;
	top: -50px;
	left: 1px;
	z-index: 1;
}
.container1 .card .imgBx img{
	height: 200px;
	width: 130px;
	border-radius: 7px;	
	background-color:#edd4c5;
}
.container1 .card .content{
	font-family: Calibri;
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.container1 .card:hover .content{	
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}
iframe {
	padding: 50px 0 80px 0;
	align-items: center;
}
.container1 .card .content p{
	color:#ecbe9f;
	font-size: 12px;
	width:250px
}
.container1 .card .content h2{
	color:#a87d60;
}
.container1 .card .content h4{
	color:#a19868;
	text-align:left;
}
.container1 .card .content ul{
	color:#a19868;
}
.container1 .card .content h5{
	color:#a19868;
	text-align:left;
	float:left;
	display:inline-block;
	width:50%;
}
.container2 {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 50px;
}
.container2 .card {
	position: relative;
	max-width: 300px;
	height: 150px;
	background: #fff5ed;
	margin: 20px 10px;
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}
.container2 .card:hover {
	height: 550px;
}
.container2 .card .imgBx {
	position: relative;
	top: -50px;
	left: 1px;
	z-index: 1;
}
.container2 .card .imgBx img{
	height: 200px;
	width: 130px;
	border-radius: 7px;	
	background-color:#edd4c5;
}
.container2 .card .content{
	font-family: Calibri;
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.container2 .card:hover .content{	
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}
iframe {
	padding: 50px 0 80px 0;
	align-items: center;
}
.container2 .card .content p{
	color:#ecbe9f;
	font-size: 12px;
}
.container2 .card .content h2{
	color:#a87d60;
}

.container3 {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container3 h2 {
	color: #fff;
	font-size: 40px;
	font-family: Segoe UI;
	margin-top: 2cm;
}
.innercontainer3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.item {
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.radio {
	display: none;
}
.radio ~ span {
	font-size: 3rem;
	filter: grayscale(100);
	cursor: pointer;
	transition: 0.3s;
}
.radio:checked ~ span {
	filter: grayscale(0);
	font-size: 4rem;
}
}
footer {
	padding: 0;
	background-color: #fff;
	margin-top: 10px;
	display: flex; 
	align-items: center; 
	justify-content: center; 
}
.social ul {
	display: flex;
}
.social i{
	color:#cfc9a7;
	font-size:30px;
	padding:0px 10px;
}
.social i:hover{
	color:#b9a475;
}
.social {
	list-style: none;
	transform: translate(45%, 10%)
}

.copyright {
	color:white; 
	font-family:Calibri; 
	font-size: 8px; 
	text-align: center; 
	margin-top: 20px;
}
