* {
	margin:0;
	padding:0;
}

html, body {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-y:hidden;
	overflow-x:hidden;
	min-width:300px;
}


.container {
	position:relative;
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/Background.jpg);
	background-position:center;
	background-size:cover;
	padding-left:8%;
	padding-right:8%;
	box-sizing:border-box;
}

.navbar {
	height:12%;
	display:flex;
	align-items:center;
	position:relative;
}

.logo{ 
	cursor:pointer;
	padding-left:35%;
	padding-top: 15%;
	position:relative;
}


nav {
	flex: 1;
	text-align:center;
	position:fixed;
	right: 45%;
}

nav ul li {
	list-style:none;
	display:inline-block;
	padding-left:15px
}

nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size: 1.5vw;
	
}

.row {
	display:flex;
	padding-left:29.2%;
	height:45%;
	align-items:center;
	position:relative;
}
button {
	
}

p{
	color:#fff;
	font-size: 1.6vw;
	line-height:15px;
}

.card p{
	font-size: 0.9vw;
	line-height:2.5vh;
	padding-top: 6%;
}
.card h3{
	font-size: 2vw;
	line-height:2.5vh;
}
button {
	width:55%;
	color:#000;
	font-size: 2vh;
	padding:12px 0;
	background:#fff;
	border:0;
	border-radius:20px;
	outline:none;
	margin-top:10%;
	margin-left:24%;
}

.row2 {
	width:93%;
	position:relative;
	
}

.card {
	opacity: 1;
	transition: 0.3s;
	position:fixed;
}

.card1 {
	transform: translate(1%, -130%);
	box-sizing:border-box;
	padding:1% 2%;
	padding-bottom: 17%;
	width:19.5%;
	height:22%;
	background-image:url(Images/Sword.png);
	cursor:pointer;
	border-radius:10px;
	background-repeat:no-repeat;
}

.card2 {
	transform: translate(1%, -20%);
	box-sizing:border-box;
	padding:1% 2%;
	padding-bottom: 17%;
	width:19.5%;
	height:22%;
	background-image:url(Images/Claymore.png);
	cursor:pointer;
	border-radius:10px;
	background-repeat:no-repeat;
}

.card3 {
	transform: translate(165%, -20%);
	box-sizing:border-box;
	padding:1% 2%;
	padding-bottom: 17%;
	width:19.5%;
	height:22%;
	background-image:url(Images/Catalyst.png);
	cursor:pointer;
	border-radius:10px;
	background-repeat:no-repeat;
}

.card4 {
	transform: translate(330%, -130%);
	box-sizing:border-box;
	padding:1% 2%;
	padding-bottom: 17%;
	width:19.5%;
	height:22%;
	background-image:url(Images/Bow.png);
	cursor:pointer;
	border-radius:10px;
	background-repeat:no-repeat;
}

.card5 {
	transform: translate(330%, -20%);
	box-sizing:border-box;
	padding:1% 2%;
	padding-bottom: 17%;
	width:19.5%;
	height:22%;
	background-image:url(Images/Polearm.png);
	cursor:pointer;
	border-radius:10px;
	background-repeat:no-repeat;
}

.card:hover {
	opacity: 0.6;
}

h3{
	color:#fff;
	text-shadow: 0 0 5px #999;
}

a {
	text-decoration: none;
}

nav ul li a:hover {
	color:#b9a475;
}

footer {
	padding: 0;
	background-color: #fff;
	margin-top: 10%;
	display: flex; 
	align-items: center; 
	justify-content: center; 
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:8%;
   width:100%;
   background: #ecbe9f;
   opacity: 0.8;
}

* html .footer {
   position:absolute;
}
.social{
	margin:40px 40px; 
	transform: translate(50% -120%)
}
.social i{
	color:#fff;
	font-size:2.5vw;
	padding:0px 10px;
}
.social i:hover{
	color:#b9a475;
}
.copyright {
	color:black; 
	font-family:Calibri; 
	font-size: 0.8vw; 
	text-align: center; 
	margin-top:0%;
	transform: translate(1%, -100%);
	position: relative;
}
  

  